
    footer {
        color: white;
        background-color: rgb(0, 0, 0);
        position: static;
        bottom:0;
        width:100%;
        height:25%;
        opacity: 0.8;
        font-size: smaller;
        }
        

    .footerContainer {
        display: flex;
        justify-content: space-around;
       
    }

.logoMegarama {
    width: 50px;
    max-width: 100%;
    height: auto;
    padding-top: 40px;
    cursor: pointer;
}
.logoFooter {
    display: flex;
    flex-direction: column;
}

.logoReseauxSociaux {
    flex-direction: column;
    justify-content: space-around;
   
}

.logoYoutube {
        width: 40px;
        max-width: 100%;
        height: auto;
       
            

        }

.logoInstagram {
        width: 40px;
        max-width: 100%;
        height: auto;
          
        
}
.logoTwitter {
    width: 40px;
        max-width: 100%;
        height: auto;
        
            
        
}
.logoFacebook {
    width: 40px;
    max-width: 100%;
    height: auto;
    
       
    
}

.footerNavLeft {
    flex-direction: column;
    justify-content: space-around;
    
    
}

.footerNavRight {
    flex-direction: column;
    justify-content: space-around;
    
        
  
}

ul {
    
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    
    
    
}
li {
    text-align: center;
    line-height:32px;
    display: inline-block;
    cursor: pointer;   
}
a {
    text-decoration: none;
    color: white; 
}
a:hover {
    display: block;
    color: white;
    font-weight: bold;
    
    
    
}

@media only screen and (min-width: 600px) {
  
    .logoMegarama {
        width: 200px;
        max-width: 100%;
        height: auto;
        padding-top: 40px;
        cursor: pointer;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}
#actualfilms {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#imgitems {
    width: 150px;
    max-width: 100%;
    height: auto;
    margin: 10px;
    border: 0 solid black;
    border-radius: 6px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.films:hover {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}

#actualFilmTitle {
    display: flex;
    justify-content: flex-start;
    font-size: small;
    margin-left: 13%;
}
/** ajout du css contact **/
.title-important {
    text-align: center;
  }
  
    label {  
      line-height: 2;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
      position: relative;
      width: 90%;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    #button {
      background: #72232C;
      color: white;
      border: none;
      padding: 5px 20px;
      text-align: center;
      border-radius: 10px;
    }
  
    .title {
      text-align: center;
    }
  
    .information {
      margin-top: 20px;
      margin-left: 5px;
      line-height: 1.5;
      list-style-type: disc;
      margin-bottom: 20px;
    }
  
    .acces{
      margin-top: 15px;
      list-style-type: circle;
    }
  
    img {
      width: 100%;
      height: auto;
    }
  
    @media screen and (min-width: 768px) {
  
  .container {
      margin-left: 850px;
      width: 50%;
      border: 1px solid black;
      display: flex;
      justify-content: space-around;
  }
  
  #left-part { 
    display: flex;
    flex-direction: column;
    /*margin-left: 20%;*/
    width: 50%;
      /*width: 50px;
      padding-top: 50px;*/
    }
    
    label {
      line-height: 2;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
      width: 80%;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    #button{
      background: #72232C;
      color: white;
      border: none;
      padding: 5px 20px;
      text-align: center;
      border-radius: 10px;;
    }
  
    #right-part{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 50%;
    }
  
    .information {
      margin-top: 20px;
      margin-right: 5px;
      line-height: 1.5;
      list-style-type: disc;
      margin-bottom: 20px;
    }
  
    .acces{
      margin-top: 15px;
      list-style-type: circle;
    }
  
    .map {
      width: 100%;
      height: auto;
    }
  }
  
  

/** fin du css contact **/
    @media screen and (min-width: 600px) {

        #actualfilms {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

        }

        #imgitems {
            width: 280px;
            max-width: 100%;
            height: auto;
            margin: 10px;
            border: 0 solid black;
            border-radius: 6px;
            -webkit-transition: .3s ease;
            transition: .3s ease;
        }

        .films:hover {
            -webkit-transform: scale(1.05); /* Safari and Chrome */
            -moz-transform: scale(1.05); /* Firefox */
            -ms-transform: scale(1.05); /* IE 9 */
            -o-transform: scale(1.05); /* Opera */
            transform: scale(1.05);
        }
    }